<h1>Transactions</h1>

<div class="form-trans">
  <form method="get" action="/explore/transactions/filter">
    <label for="merch_select">Filter on Merchant: </label>
    <select name="merchant_id" id="merch_select">
      <option value="" disabled selected>Please select a merchant!</option>
      <% @merchants.each do |merchant| %>
        <option value=<%= merchant.id %>><%= merchant.name %></option>
      <% end %>
    </select>
    <input type="submit" value="Show filtered data">
  </form>
</div>
OR
<div class="form-trans">
  <form method="get" action="/explore/transactions/filter">
    <label for="tag_select">Filter on Tag: </label>
    <select name="tag_id" id="tag_select">
      <option value="" disabled selected>Please select a Tag!</option>
      <% @tags.each do |tag| %>
        <option value=<%= tag.id %>><%= tag.name %></option>
      <% end %>
    </select>
    <input type="submit" value="Show filtered data">
  </form>
</div>
<p></p>
<p>Item Count:<%= @item_count %></p>
<p>Total spend for displayed items: £<%= sprintf("%.2f",@total_spent.to_f / 100) %> </p>
<p></p>

<table>
  <tr>
    <th>Merchant</th>
    <th>Amount</th>
    <th>Tag</th>
    <th>Notes</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction["merch_name"] %></td>
    <td>£<%= sprintf("%.2f",transaction["amount"].to_f / 100) %></td>
    <td><%= transaction["tag_name"] %></td>
    <td><%= transaction["notes"] %></td>
  </tr>
  <% end %>
</table>

<p></p>
<nav>
  <a href="/">Home</a>
</nav>
