<h3>Transactions</h3>

<div class="form-trans">Filter by Merchant OR Tag
  <form method="get" action="/explore/transactions/filter">
    <label for="merch_select"></label>
    <select name="merchant_id" id="merch_select">
      <option value="" disabled selected>Please select a Merchant</option>
      <% @merchants.each do |merchant| %>
        <option value=<%= merchant.id %>><%= merchant.name %></option>
      <% end %>
    </select>
    <input class="btn" type="submit" value="Show filtered data">
  </form>
</div>
<div class="form-trans">
  <form method="get" action="/explore/transactions/filter">
    <label for="tag_select"></label>
    <select name="tag_id" id="tag_select">
      <option value="" disabled selected>Please select a Tag</option>
      <% @tags.each do |tag| %>
        <option value=<%= tag.id %>><%= tag.name %></option>
      <% end %>
    </select>
    <input class="btn" type="submit" value="Show filtered data">
  </form>
</div>
<p></p>
<p>Item Count:<%= @item_count %></p>
<p>Total spend for displayed items: £<%= sprintf("%.2f",@total_spent.to_f / 100) %> </p>
<p></p>

<table>
  <tr>
    <th>Merchant</th>
    <th>Amount</th>
    <th>Tag</th>
    <th>Notes</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction["merch_name"] %></td>
    <td>£<%= sprintf("%.2f",transaction["amount"].to_f / 100) %></td>
    <td><%= transaction["tag_name"] %></td>
    <td><%= transaction["notes"] %></td>
  </tr>
  <% end %>
</table>
