<h1>Transactions</h1>

<p>Total spend to date: £<%= sprintf("%.2f",@total_spent.to_f / 100) %> </p>
<p>Item Count:<%= @item_count %></p>

<table>
  <tr>
    <th>Merchant</th>
    <th>Amount</th>
    <th>Tag</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction["merchant_name"] %></td>
    <td>£<%= sprintf("%.2f",transaction["amount"].to_f / 100) %></td>
    <td><%= transaction["tag_name"] %></td>
  </tr>
  <% end %>
</table>

<p></p>
<nav>
  <a href="/">Home</a>
</nav>
