<h1>Manage Transactions</h1>
<p></p>
<nav>
  <ul>
    <li>
      <a href="/manage/merchants">Manage Merchants</a>
    </li>
    <li>
      <a href="/manage/tags">Manage Tags</a>
    </li>
  </ul>
  <p></p>
  <a href="/manage/transactions/new">Create New Transaction</a><table>
  <p></p>
</nav>

<p>Merchant</p>
<p>Amount</p>
<p>Tag</p>
  <% for transaction in @transactions %>
    <p><%= transaction["merchant_name"] %></p>
    £<%= sprintf("%.2f",transaction["amount"].to_f / 100) %>
    <%= transaction["tag_name"] %></td>
    <a href="/manage/transactions/<%= transaction["trans_id"] %>/edit">Edit Transaction</a>
    <form method="post" action="/manage/transactions/<%= transaction["trans_id"] %>/delete">
        <input type="submit" value="Delete Transaction"/>
    </form>
  <% end %>

<p></p>
<nav>
  <a href="/">Home</a>
</nav>
