<h1>Manage Transactions</h1>
<p></p>
<nav>
  <ul>
    <li>
      <a href="/manage/merchants">Manage Merchants</a>
    </li>
    <li>
      <a href="/manage/tags">Manage Tags</a>
    </li>
  </ul>
  <p></p>
  <a href="/manage/transactions/new">Create New Transaction</a><table>
  <p></p>
</nav>
<p>Item Count:<%= @item_count %></p>
<p></p>
<table>
  <tr>
    <th>Merchant</th>
    <th>Amount</th>
    <th>Tag</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction["merch_name"] %></td>
    <td>£<%= sprintf("%.2f",transaction["amount"].to_f / 100) %></td>
    <td><%= transaction["tag_name"] %></td>
    <td><%= transaction["notes"] %></td>
    <td><a href="/manage/transactions/<%= transaction["trans_id"] %>/edit">Edit</a></td>
    <td><form method="post" action="/manage/transactions/<%= transaction["trans_id"] %>/delete">
        <input type="submit" value="Delete"/>
    </form></td
  </tr>
  <% end %>
</table>
