<h3>Manage Transactions</h3>
<p></p>
<nav>
  <ul>
    <li>
      <a class="sub-nav" href="/manage/merchants">Manage Merchants</a>
    </li>
    <li>
      <a class="sub-nav" href="/manage/tags">Manage Tags</a>
    </li>
  </ul>
  <p></p>
  <form method="get" action="/manage/transactions/new">
    <input class="btn" type="submit" value="Create new Transaction"/>
  </form>
  <p></p>
</nav>
<p>Item Count:<%= @item_count %></p>
<p></p>
<table>
  <tr>
    <th>Merchant</th>
    <th>Amount</th>
    <th>Tag</th>
    <th>Notes</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction["merch_name"] %></td>
    <td>£<%= sprintf("%.2f",transaction["amount"].to_f / 100) %></td>
    <td><%= transaction["tag_name"] %></td>
    <td><%= transaction["notes"] %></td>
    <td><form method="get" action="/manage/transactions/<%= transaction["trans_id"] %>/edit">
      <input class ="btn" type="submit" value="Edit"/>
    </form></td>
    <td><form method="post" action="/manage/transactions/<%= transaction["trans_id"] %>/delete">
        <input class="btn-db-danger" type="submit" value="Delete"/>
    </form></td
  </tr>
  <% end %>
</table>
